/* Estilos para dispositivos maiores */
footer {
    margin-top      : 10%;
    background-color: var(--solana-purple);
    color           : #fff;
    padding         : 2em;
}

.footer-container {
    display        : flex;
    justify-content: space-around;
}

.footer-section {
    display       : flex;
    flex-direction: column;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li a {
    color          : #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size  : 11px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align    : center;
    }
}